body {
  font-size: 1.5em;
  text-align: center;
  margin: 0;
  height: 100vh;
  /* display: flex; */
  flex-direction: column;
  /* align-items: center;  */
  justify-content: flex-start;
}
input {
  font-size: 1.5em;
  text-align: left;
  padding: 5px;
  margin-bottom: 30px;
}
.notice {
  /* color: #ff0000; */
  color: #4caf50;
  box-shadow: 0 0 10px rgba(0, 255, 0, 0.4);
}
.add-employee-form {
  width: 100%;
  /* max-width: 400px;  */
  margin-top: 40px;
}
.success-box {
  /* background-color: #1b5e20; */
  color: #a5d6a7;
  padding: 5px 20px;
  border-radius: 8px;
  font-size: 1.2em;
  width: fit-content;
  margin: 20px auto;
  box-shadow: 0 0 10px rgba(0, 255, 0, 0.4);

  /* animation: fadein 0.5s ease-out, fadeout 0.5s ease-in 50s forwards; */
}

@keyframes fadein {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.success-name {
  /* font-family: "Poppins", sans-serif;  */
  font-weight: 600;
  color: #4caf50;
  font-size: 1.4em;
  letter-spacing: 0.5px;
  font-style: italic;
}

.error-box {
  background-color: #7f0000;
  color: #ffb3b3;
  padding: 5px 20px;
  border-radius: 8px;
  width: fit-content;
  margin: 10px auto;
  box-shadow: 0 0 10px rgba(255, 0, 0, 0.4);
}
